@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap'); 

body {
    font-family: 'Montserrat', Helvetica, sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
   color: #0FA3B1;
   font-family: 'Montserrat', Helvetica, sans-serif;
   margin-top: 0;
}

h1 {
    font-size: 3.052rem;
    font-weight: 600;
}

h2 {
    font-size: 2.441rem;
    font-weight: 400;
}

h3 {
    font-size: 1.953rem;
    font-weight: 400;
}

h4 {
    font-size: 1.5635rem;
    font-weight: 400;
}

h5 {
    font-size: 1.25rem;
    font-weight: 300;
}

p {
    color: #181D27;
    font-weight: 400;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding:0 16px;
}
.button {
    padding: 15px 30px;
    color: white;
    background-color: #FF858D;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
}

.text-container a {
    float: right;
}

.list-unstyled {
    list-style: none;
    padding-left: 0;
}

.header-parent {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.header-parent nav {
    display: flex;
    column-gap: 16px;
}

.header-parent nav a {
    text-decoration: none;
}

.header-parent nav a:hover {
    text-decoration: underline;
}

.nav-container {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 425px) {
    .nav-container {
        justify-content: center;
        margin-top: 8px;
    }
    .header-parent {
        flex-direction: column;
    }
    .logo-container{
        justify-content: center;
    }
  }

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container h4 {
    margin-bottom: 0;
}

.hero {
    background-image: url('../images/dog-hero-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 35%;
}

.hero-content {
    width: 33%;
    background-color: rgb(15, 163, 177, 0.25);
    padding: 16px;
}


.hero-content h1, .hero-content p {
    color: white;
    margin-bottom: 16px;
}

.hero .container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media screen and (max-width: 425px) {
    .hero-content {
        width: 100%;
    }    
    .hero .container {
        align-items: flex-end;
    }
    .hero {
        background-position: 25% 35%;
    }
  }

.services{
    background-color: #f9f9f9;
    padding:96px 0;
}
.service-container {
    display: flex;
    margin-bottom: 96px;
}

.service-sub-container {
    width: 50%;
}

.service-image {
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .service-image {
        height: 100%;
    object-fit: cover;
    }    
  }

.service-sub-container.text-container {
    padding: 48px;
    background-color: white;
}

.about {
    background-color: white;
    padding:96px 0;
}
.about-container {
    display: flex;
    margin-bottom: 96px;
}

.about-sub-container {
    width: 50%;
}

.about-image {
    width: 100%;
}

.about-sub-container.text-container {
    padding: 48px;
    padding-top: 0;
    background-color: white;
}

footer {
    background-color: #0FA3B1;
    color: white;
    padding: 32px 0;
}

footer h4, footer p, footer a {
    color: white;
}

.footer-container {
    display: flex;
}

.footer-links {
    width: 33.333333%;
}

h4 {
    margin-bottom: 8px;
}

footer li {
    margin: 8px 0;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer i {
    margin-right: 8px;
}


.form-section {
    background-color: white;
    padding:96px 0;
}


.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    color: #181D27;
    background-color: #f9f9f9;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
}

.text-input:hover {
    border-color:#181D27;
}

form .button {
    border: 0px solid;
    margin-top: 16px;
}

.form-section li {
    margin: 8px 0;
}

.form-section a {
    text-decoration: none;
    color: #181D27;
}

.form-section a:hover {
    text-decoration: underline;
}

.form-section i {
    margin-right: 8px;
    color: #FF858D;
}

.form-section h5 {
    margin-bottom: 16px;
}

.form-section h2 {
    margin-bottom: 24px;
}

.home-services-container {
    display: flex;
    justify-content: space-between;
}

.home-services-sub-container {
    width: 31%;
}

.home-services {
    padding: 96px 0;
    background-color: #f9f9f9;
}