@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap'); 

body {
    font-family: 'Montserrat', Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
   color: #0FA3B1;
   font-family: 'Montserrat', Helvetica, sans-serif;
   margin-top: 0;
}

h1 {
    font-size: 3.052rem;
    font-weight: 600;
}

h2 {
    font-size: 2.441rem;
    font-weight: 400;
}

h3 {
    font-size: 1.953rem;
    font-weight: 400;
}

h4 {
    font-size: 1.5635rem;
    font-weight: 400;
}

h5 {
    font-size: 1.25rem;
    font-weight: 300;
}

p {
    color: #181D27;
    font-weight: 400;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 1rem;
}

.button {
    padding: 15px 30px;
    color: white;
    background-color: #FF858D;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 4px;
}